<!-- ADMIN WORLD -->
<div *ngIf="router.url.includes('/admin/') || router.url.includes('/back-office')">
  <router-outlet></router-outlet>
</div>

<!-- USER WORLD -->
<div class="main-layout" *ngIf="!router.url.includes('/admin/') && !router.url.includes('/back-office') && !router.url.includes('/login') && !router.url.includes('/signup')">
  <app-sidebar></app-sidebar> 
  <div class="main-content">
    <app-header></app-header>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- LOGIN/SIGNUP WORLD -->
<div *ngIf="router.url.includes('/login') || router.url.includes('/signup')">
  <router-outlet></router-outlet>
</div>