<div class="auth-wrapper">
  <div class="pro-login-card animate-fade">
    <div class="auth-header">
      <div class="pro-square-logo"></div>
      <h1>SkillUp</h1>
    </div>

    <div class="auth-form">
      <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">

        <!-- Username -->
        <div class="input-group">
          <label>Username</label>
          <input type="text" name="username" [(ngModel)]="credentials.username" #username="ngModel" required
            minlength="3" placeholder="Enter your username"
            [class.input-error]="username.invalid && (username.dirty || submitted)">
          <div class="error-msg" *ngIf="username.invalid && (username.dirty || submitted)">
            <span *ngIf="username.errors?.['required']">⚠️ Username is required.</span>
            <span *ngIf="username.errors?.['minlength']">⚠️ Username must be at least 3 characters.</span>
          </div>
        </div>

        <!-- Password -->
        <div class="input-group mt-3">
          <label>Password</label>
          <input type="password" name="password" [(ngModel)]="credentials.password" #password="ngModel" required
            placeholder="Enter your password" [class.input-error]="password.invalid && (password.dirty || submitted)">
          <div class="error-msg" *ngIf="password.invalid && (password.dirty || submitted)">
            <span *ngIf="password.errors?.['required']">⚠️ Password is required.</span>
          </div>
        </div>

        <button type="submit" class="btn-login-pro mt-5">Sign In</button>

      </form>

      <div class="auth-footer mt-5">
        <p>Don't have an account?</p>
        <a routerLink="/signup">Sign Up</a>
      </div>
    </div>
  </div>
</div>